@reference "../tailwind.css";

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  @apply lg:h-screen h-full snap-start;
  /*   height: 100vh;
  scroll-snap-align: start; */
}

.contact-us-container {
  @apply h-[27rem] rounded-3xl lg:w-[90vw] w-[90vw] justify-start gap-8 mt-8 grid grid-cols-1 lg:grid-cols-3 p-4;
  box-shadow: 0px 0px 4px 0px rgba(87, 87, 87, 0.24);
}
